.card-image {
    width:100px;
}
.card-image-bnw {
    width:100px;
    -webkit-filter:brightness(65%); /* Safari 6.0 - 9.0 */
    filter: brightness(65%);
}
.z-alert{
    position:absolute;
    z-index: 999;
    opacity: 1;
    width: 100%;
    top:1px;
}
@media only screen and (max-width : 767px) {
    .card-image {
        width:50px;
    }
    .card-image-bnw {
        width:50px;
        -webkit-filter:brightness(65%); /* Safari 6.0 - 9.0 */
        filter: brightness(65%);
    }
    .deal-buttons{
        padding-left:50px!important;
    }
    .padding-adjust-mob{
        padding-left: 0;
        padding-right:0;
    }
    .hide-mob{
        display: none;
    }
}
