<!DOCTYPE html>
<html>
<style>
    .header {
        color: white !important;
        text-align: center;
    }

    .imgwrapper {
        width: 80%;
    }

    .deal-buttons {
        width: 30%;
        margin-left: 35%;
    }

    .deal-buttons-center form {
        width: 30%;
        margin-left: 50px
    }

    .deal-buttons form {
        float: left;
        margin-right: 10%;
    }
</style>

<head>
    <title>Poker</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>


<body background="static/images/background.png">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm">
                <p class="h1 header"> Poker </p>
            </div>
        </div>
    </div>
    {% block poker %} {% endblock %}

    <script src="static/js/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="static/js/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>