<!DOCTYPE html>
<html>
<style>
    .header {
        color: white !important;
        text-align: center;
    }

    .deal-buttons {
        
        padding-left: 400px!important;
    }

    .deal-buttons form {
        float: left;
        margin-right: 5%;
    }
   
</style>

<head>
    <title>Poker</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" crossorigin="anonymous">

    <link rel='stylesheet' href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" crossorigin='anonymous'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
</head>


<body background="static/images/background.png">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <p class="h1 header"> Poker </p>
            </div>
        </div>
        <br />
    </div>
    {% block poker %} {% endblock %}

    <script src="static/js/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="static/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>

</html>