{% extends 'base.html' %}
{% block poker %}



<div class="container-fluid">

    <div class="row">
        <div class="col-sm">
                <p style="text-align: left" class="h2 header"> User </p>        
                <p style="color: white">Stats: {{win}}/{{total}}   balance: {{user_balance}}</p>     
        </div>
    </div>
    <div style="padding: 15px" class="row">
        {% for card in cards %}
        <div class="col-sm imgwrapper">
            <img width=35% height=auto class="img-responsive" src="/static/images/{{card}}.png">
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-sm">
            <p style="text-align: left" class="h2 header"> Computer </p>
        </div>
    </div>
    <div style="padding: 15px" class="row">
        {% for card in other_card %}
        <div class="col-sm imgwrapper">
            <img width=35% height=auto class="img-responsive" src="/static/images/cover.png">
        </div>
        {% endfor %}
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="deal-buttons">
            <form method="GET" action="/deal">
                <input type="submit" class="btn btn-primary" value="Deal">
            </form>
            <form method="GET" action="/reset">
                <input type="submit" class="btn  btn-primary" value="Reset">
            </form>
            <form method="POST" action="/show">
                <input type="hidden" name="user_cards" value="{{cards}}">
                <input type="hidden" name="computer_cards" value="{{other_card}}">
                <input type="submit" class="btn btn-primary" value="Show">
            </form>
        </div>
        
    </div>

</div>


{% endblock%}