<!DOCTYPE html>
<html lang="en">
<head>
    <title>Poker</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" crossorigin="anonymous">

    <link rel='stylesheet' href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" crossorigin='anonymous'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
<div class="container">
<h2>History</h2>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr class="danger">
                <th>id</th>
				<th>user_cards</th>
				<th>computer_cards</th>
				<th>center_cards</th>
				<th>user_best_cards</th>
				<th>computer_best_cards</th>
				<th>winner</th>
				<th>UUID</th>
				<th>User Cards</th>
				<th>Computer Cards</th>
				<th>Date</th>
			</tr>
		</thead>
    <tbody>
        {% for h in history%}
        <tr class="danger">
                <td>{{h.id}}</td>
            <td>{{h.user_cards}}</td>
            <td>{{h.computer_cards}}</td>
            <td>{{h.center_cards}}</td>
            <td>{{h.user_best_cards}}</td>
            <td>{{h.computer_best_cards}}</td>
            <td>{{h.winner}}</td>
			<td>{{h.uid}}</td>
            <td>{{h.user_desc}}</td>
            <td>{{h.comp_desc}}</td>
			<td>{{h.date_updated}}</td>
        </tr>
        {% endfor%}
    </tbody>
</table>

</div>
</body>
</html>
