{% extends 'base.html' %}
{% block poker %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <p style="text-align: left" class="h2 header"> User </p>
            <p style="color: white">Stats: {{win}}/{{total}} balance: {{user_balance}}</p>
        </div>
    </div>
    <div style="padding: 15px" class="row">
        {% for card in cards %}
        <div class="col-sm">
            <img width=100 height=100 src="/static/images/{{card}}.png">
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-sm">
            <p style="text-align: left" class="h2 header"> Computer </p>
        </div>
    </div>
    <div style="padding: 15px" class="row">
        {% for card in other_card %}
        <div class="col-sm">
            <img width=100 height=100 src="/static/images/{{card}}.png">
        </div>
        {% endfor %}
    </div>
</div>
<br />

<div class="container-fluid">
    <div class="row">
        <div class="deal-buttons">
            <form method="GET" action="/deal">
                <input type="submit" class="btn-primary" value="Deal">
            </form>
            <form method="GET" action="/reset">
                <input type="submit" class="btn-primary" value="Reset">
            </form>

        </div>

    </div>

</div>
{% if result == "user"%}
<div class="alert alert-success" role="alert">
    <strong>Congratulations!</strong>You won. you have {{user_desc}} and computer got {{comp_desc}}
</div>
{% endif %}
{% if result == "computer"%}
<div class="alert alert-danger" role="alert">
    <strong>Sorry!</strong>You lost. you have {{user_desc}} and computer got {{comp_desc}}
</div>
{% endif %}
{% if result == "Draw"%}
<div class="alert alert-info" role="alert">
    <strong>No result!</strong>equal cards. Both have {{user_desc}}
</div>
{% endif %}

</div>
{% endblock%}