{% extends 'base.html' %}
{% block poker %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1 col-1 col-lg-1 padding-adjust-mob">
            <img class="img-fluid" src="/static/images/user.png">
        </div>

        <div class="col-sm-4 col-5 col-lg-4">
            {% for card in cards %}
            {% if result == "user" %}
            {% if card in user_unused_card %}
            <img class="img-fluid card-image-bnw" src="/static/images/{{card}}.png">
            {% else %}
            <img class="img-fluid card-image" src="/static/images/{{card}}.png">
            {% endif %}
            {% else %}
            <img class="img-fluid card-image-bnw" src="/static/images/{{card}}.png">
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-2 col-2 col-lg-2 hide-mob">
        </div>
        <div class="col-sm-1 col-1 col-lg-1 padding-adjust-mob">
            <img class="img-fluid" src="/static/images/computer.png">
        </div>
        <div class="col-sm-4 col-5 col-lg-4">
            {% for card in other_card %}
            {% if result == "computer" %}
            {% if card in computer_unused_card %}
            <img class="img-fluid card-image-bnw" src="/static/images/{{card}}.png">
            {% else %}
            <img class="img-fluid card-image" src="/static/images/{{card}}.png">
            {% endif %}
            {% else %}
            <img class="img-fluid card-image-bnw" src="/static/images/{{card}}.png">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2 col-12 col-lg-2">
            <p style="text-align: left" class="h2 header"> Common </p>
        </div>
        <div class="col-sm-1 col-1 col-lg-1 ">
        </div>
        <div class="col-sm-9 col-lg-9 col-12">
            {% for card in center_cards %}
            {% if result == "user" and card in user_unused_card %}
            <img class="img-fluid card-image-bnw" src="/static/images/{{card}}.png">
            {% elif result == "computer" and card in computer_unused_card %}
            <img class="img-fluid card-image-bnw" src="/static/images/{{card}}.png">
            {% else %}
            <img class="img-fluid card-image" src="/static/images/{{card}}.png">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="deal-buttons col-sm-12 col-12 col-lg-12">
            <form method="GET" action="/deal">
                <input type="submit" class="btn-primary" value="Deal">
            </form>
            <form method="GET" action="/reset">
                <input type="submit" class="btn-danger" value="Reset">
            </form>
        </div>
    </div>
    {% include 'stats.html' %}
</div>
{% if result == "user"%}
<div class="alert alert-success z-alert" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <i class='far fa-grin-alt'></i>
    <strong>Congratulations! </strong>User won. {{msg}}
</div>
{% endif %}
{% if result == "computer"%}
<div class="alert alert-danger z-alert" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <i class='far fa-frown'></i>
    <strong>Sorry! </strong>User lost. {{msg}}
</div>
{% endif %}
{% if result == "Draw"%}
<div class="alert alert-info z-alert" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <i class='far fa-flushed'></i>
    <strong>No result! </strong>Equal cards. {{msg}}
</div>
{% endif %}
{% endblock%}